
.page-body {
    position: absolute;
    height: 100%;
    width: 100%;
}

.page-container {
    padding-top: 15px;
}

.page-container  .jumbotron {
    background-color: initial;
}

.page-container .greetings-container {
    color: white;
}

.page-container .lead {
    color: white;
}

.nav-item {
    margin-bottom: 0.25rem;
}

.nav-item:last-child {
    margin-bottom: 0;
}

.menu-items {
    display: flex;
    justify-content: center;
}

.nav-item:hover {
    cursor: pointer;
}

.logo-img {
    background-image: url("../../imgs/logo.png");
    background-repeat: no-repeat;
    max-height: 32px;
    max-width: 32px;
}

.text-in-center {
    text-align: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    margin-bottom: 0.25rem;
}

.nav-item:last-child {
    margin-bottom: 0;
}

#dropdownMainCurrency{
    width: 630px;
}
#dropdownMainCurrency2{
    width: 630px;
}
#inputAmount{
    width: 630px;
}
#result{
    font-size: 150%;
    color : white;
}

.dropdown-menu{
    height: auto;
    width: 400px;
    max-height: 200px;
    overflow-x: hidden;
}

html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 140%;
    font-family: 'Numans', sans-serif;
}

#btndiv{
    margin: auto;
    width: 100px;
    padding: 10px;
}