.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#inputRigion-City {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
input:hover {
    background-color: #efefef;
}

#inputCurrency {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#inputMinAmount {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#inputMaxAmount {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#inputFreeText {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#searchContainer {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.form-section {
    margin-top: 10px;
    margin-bottom: 10px;
}
