html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    color: white;
}

#inputdestinationCountry{
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#dropdownMenuOffset {
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.searchoffers-body span{
    margin: 0 auto;
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}
#currency-dropdown{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#inputRigion-City {
    margin-top: 6em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
input:hover {
    background-color: #efefef;
}
#inputCurrency {
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#inputMinAmount {
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#inputMaxAmount {
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#inputFreeText {
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#searchContainer {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.form-section {
    margin-top: 10px;
    margin-bottom: 10px;
}
