html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    color: white;
}


.searchoffers-body span{
    width: 50px;
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

#currency-dropdown{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#inputRigion-City {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
input:hover {
    background-color: #efefef;
}

#inputCurrency {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#inputMinAmount {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#inputMaxAmount {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#inputFreeText {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#searchContainer {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.form-section {
    margin-top: 10px;
    margin-bottom: 10px;
}
