.result {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
    width: 70%;
    border: #333333
}

.topResults {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}