.result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200%;
    border-style: groove;
    padding:5px;
}

.result >div{
    text-align:center;
    width: 300px;
    margin: 5px;
    text-align: left;
    line-height: 20px;

}

.resultTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-style: groove;
    font-weight: bold;
    font-size: large;
}

.resultTitle >div{
    text-align:center;
    width: 300px;
    margin: 5px;
    text-align: left;
    line-height: 20px;
}

.topResults {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #e9f3f4;
}

.home_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
}

.checkbox{
    vertical-align: middle;
}

.Tabs{
    align-items: left;
}


.nav-item {
    margin-bottom: 0.25rem;
}

.nav-item:last-child {
    margin-bottom: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.logo-img {
    background-image: url("../../imgs/logo.png");
    background-repeat: no-repeat;
    max-height: 32px;
    max-width: 32px;
}



html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 140%;
    font-family: 'Numans', sans-serif;
}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    color: white;

}

#inputdestinationCountry{
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#dropdownMenuOffset {
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.searchoffers-body span{
    margin: 0 auto;
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}
#currency-dropdown{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#inputRigion-City {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
input:hover {
    background-color: #efefef;
}
#inputCurrency {
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#inputMinAmount {
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#inputMaxAmount {
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#inputFreeText {
    margin-top: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#searchContainer {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-section {
    margin-top: 10px;
    margin-bottom: 10px;
}