html,body{
    background-image: url('../Images/backround-switch.jpeg') ;

    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    font-family: 'Numans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}
.card-header h3{
    color: white;
}
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.container{
    height: 100%;
    align-content: center;
}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}
.login_btn:hover{
    color: black;
    background-color: white;
}
input:hover {
    background-color: #efefef;
}


input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.form-section {
    margin-top: 10px;
    margin-bottom: 10px;
}
