.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#inputEmail {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
input:hover {
    background-color: #efefef;
}

#inputPassword {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-section {
    margin-top: 10px;
    margin-bottom: 10px;
}
