.main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.page-body {
    position: absolute;
    height: 100%;
    width: 100%;
}
html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 140%;
    font-family: 'Numans', sans-serif;
}
.nav-item {
    margin-bottom: 0.25rem;
}
.nav-item:last-child {
    margin-bottom: 0;
}
.menu-items {
    display: flex;
    flex-direction: column;
}
.nav-item:hover {
    cursor: pointer;
}
.image-container{
    position: relative;
    margin-top: 15px;
}

.logo-img {
    background-image: url("../../imgs/logo.png");
    background-repeat: no-repeat;
    max-height: 32px;
    max-width: 32px;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.btn-change{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.image-container:hover .image {
    opacity: 0.3;
}
.image-container:hover .btn-change {
    opacity: 1;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    margin-top: 50px;
}
.info-container {
    padding-top: 15px;
    overflow-y: auto;
}
.Name{
    margin-right: 50px;
}
.Email{
    margin-right: 50px;
}
.Phone{
    margin-right: 50px;
}
.Address{
    margin-right: 50px;
}
.Zip{
    margin-right: 50px;
}
.Primary-Currency{
    margin-right: 50px;
}
.Secondary-Currency{
    margin-right: 50px;
}