body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.offer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputFreeText{
    margin-bottom: 10px;
    height: 300px;
}

#inputAmount{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

#inputAddress{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#inputAddress2{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}