
html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
label {
    color: white;
}
.dropdown-menu{
    height: auto;
    width: 400px;
    max-height: 200px;
    overflow-x: hidden;
}
.offer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    background: white;
}

#inputAddress{
    margin-bottom: 1em;
}

#inputEmail{
    margin-bottom: 1em;
}

#inputFreeText{
    width: 400px;
    height:200px;
}

#dropdownMainCurrency{
    width: 400px;
    margin-bottom: -1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#dropdownPreffered1{
    width: 400px;
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#dropdownPreffered2{
    width: 400px;
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
